@using MyNetWebApp.ViewModels
@model UserViewModel
<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <h2>@Model.Username</h2>
            @if (Model.ProfileImageUrl != null)
            {
                <img class="img-fluid" src="@Model.ProfileImageUrl" alt="">
            }

        </div>

        <div class="col-md-4">
            <h3 class="my-3">Locations</h3>
            @if (Model.Address != null)
            {
                <ul>
                    <li>
                        City - @(Model.Address.City != null ?  Model.Address.City : "not defined")
                    </li>
                    <li>
                        State - @(Model.Address.State != null ?  Model.Address.State : "not defined")
                    </li>
                </ul>
            }
            <h3 class="my-3">Clubs</h3>
            @if (Model.Clubs != null)
            {
                <ul>

                    @foreach (var club in Model.Clubs)
                    {
                        <li>@club</li>
                    }
                </ul>
            }
            else
            {
                <p>not yet</p>
            }

            <h3 class="my-3">Races</h3>
            @if (Model.Races != null)
            {
                <ul>

                    @foreach (var race in Model.Races)
                    {
                        <li>@race</li>
                    }
                </ul>
            }
            else
            {
                <p>not yet</p>
            }
        </div>
    </div>

</div>
<!-- /.container -->